html {
  scroll-behavior: smooth;
  scroll-padding-top: 4.5rem;
}
body {
  padding-top: 85px;
  margin-top: auto;
  font-size: 1.25rem;
}
br {
  display: block;
  padding: 10000px; /* Adds space below the <br> */
}
.section-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  /* margin: 0 2rem; */
  align-items: center;
  justify-content: center;
  /* padding: 0 4px; */
  gap: 20px;
}
.col-span-2 {
  grid-column: span 2;
}
.col-span-5 {
  grid-column: span 5;
}
.col-span-6 {
  grid-column: span 6;
}
.col-span-7 {
  grid-column: span 7;
}
.col-span-8 {
  grid-column: span 8;
}
.section-header h1 {
  font-size: 3rem;
  letter-spacing: -0.05em;
  /* margin-top: 0.5em; */
  text-transform: capitalize;
  line-height: 3.5rem;
  line-break: none;
}
.section-header h1 p {
  font-size: 1.75rem;
  font-weight: 100;
  letter-spacing: -0.05rem;
  /* margin-top: 0.5em; */
  text-transform: capitalize;
  line-height: 2.5rem;
}
header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-color: whitesmoke;
  width: 100%;
  transition: margin 0.4s ease;
  z-index: 100;
  border-bottom: 1px solid gray;
}
header.hide {
  margin-top: -300px;
}
header.show {
  margin-top: 0px;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
  gap: 20%;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 1.5rem;
}
nav li {
  padding: 10px 0;
  list-style-type: none;
  text-transform: capitalize;
  transition: transform 0.05s ease, border-bottom 0.1s ease-in-out;
}
nav li:hover {
  cursor: pointer;
  font-weight: bold;
  transform: scale(1.05);
  border-bottom: 1px solid gray;
}
a {
  text-decoration: none;
  color: black;
}
section {
  transition: opacity 1s ease-out;
  display: none;
  margin-top: 3vh;
}
.current_page {
  display: block;
}
.current_link {
  border-bottom: 4px solid black;
}
