.services-link {
  background: linear-gradient(to bottom, transparent 50%, #159df8 50%);
  background-size: 100% 180%;
  background-position: top;
  transition: all 0.3s;
}

.services-link:hover {
  cursor: pointer;
  background-position: bottom;
}

.services-items-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: black; */
  padding: 0 20px;
  margin: 0 7vw;
}
.services-item {
  display: flex;
  flex-direction: row;
  height: min-content;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  gap: 25px;
  border-bottom: 2px solid gray;
  padding: 30px 10px;
}
.services-item:last-child {
  border: none;
}
.services-item-header {
  font-size: 1.5rem;
  /* background-color: green; */
}
.services-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.25rem;
  width: 50%;
  /* gap: 2vw; */
  /* min-width: 100px; */
}
.services-item-content p {
  line-height: 2.25rem;
}
.services-item-image-container {
  /* width: 80px;
  height: 80px;
  padding: 50px 0px; */
}
.services-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.services-item-footer {
  font-size: 1rem;
  color: gray;
}
.services-item.show {
  display: flex;
}
.services-item.hide {
  display: none;
}
.services-pagination-btns-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.services-pagination-btns-container .pagination-btn {
  cursor: pointer;
  padding: 10px 20px;
  background-color: transparent;
  border: 0;
  background: linear-gradient(to bottom, transparent 50%, black 50%);
  background-position: top;
  background-size: 100% 190%;
  transition: all 0.3s;
  font-size: 12px;
  /* background: linear-gradient(to bottom, transparent 50%, #159df8 50%);
  background-position: top;
  background-size: 100% 180%; */
}
.services-pagination-btns-container .pagination-btn:hover {
  background-position: bottom;
  color: white;
}

.pagination-btn.current-pag-btn {
  background-color: black;
  color: white;
}
